/*header styles*/
.navigation {display: inline-block;
}
.nav-li {display: inline-block;
	vertical-align: middle;
margin-right: 30px;}
.logo {vertical-align: middle;
	margin-right: 150px;
}

.nav-a-item {font-family: 'Roboto-Bold';}


.header-wraper {padding: 69px 0 69px 162px;
/*width: 564px;
height: 23px; 
(ამ ორი პარამეტრით ნავიგაცია ჩამოვიდა ქვედა ხაზზე, ვერც კომენტარებით ავტომატური დაშორებების წაშლამ უშველა*/
}
.nav-a-item {color: #274C5B;
	font-size: 20px;
}

.navicon {vertical-align: middle;}

/*main styles*/

.banner {width: 100%;}



/*section styles*/

.image-block {width: 1400px;
margin: 90px auto 0 auto;}

.container {width: 936px;
	height: 1081px;
	
margin: 0 auto}

/*content1*/
.heading1 {font-size: 50px;
color: #274C5B;
padding-bottom: 28px;
line-height: 58px;
font-family: 'Roboto-Bold';}

.paragraph1 {width: 936px;
 font-size: 18px;
color: #525C60;
line-height: 29px;
font-family: 'Open Sans';
}

.content1 {text-align: left;
width: 936px;
height: 267px;
margin: 70px 0 70px 0;
}

.active {margin-bottom: 28px;}

/*content2*/
.top-box {width: 936px;
height:252px;
margin-bottom: 28px;}

.left-top-box {width: 379px;
height: 252px;
margin-right: 20px;
vertical-align: middle;
display: inline-block;}

.right-top-box {width:537px;
height: 252px;
vertical-align: middle;
display: inline-block;
background: #F9F8F8;
text-align: left;
}

.heading2 {font-family: Roboto-bold;
 font-size: 25px; 
 font-weight: 500; 
 line-height: 29px; 
 letter-spacing: 0em; 
 text-align: left;
 margin: 63px 0 7px 45px;
 color: #274C5B;
}


.paragraph2 {width: 447px;
height: 90px;
font-size: 18px;
margin: 7px 0 0 45px;
color: #525C60;
font-family: Open Sans;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.bottom-box {width: 936px;
height: 252px;}

.left-bottom-box {width: 537px;
height: 252px;
vertical-align: middle;
text-align: left;
display: inline-block;
background: #F9F8F8;
margin-right: 20px;}


.heading3 {
font-size: 25px;
margin: 63px 0 7px 45px;
color: #274C5B;
font-family: 'Roboto-Bold';
font-weight: 500;}

.paragraph3 { width: 447px;
height: 90px; 
font-size:18px;
margin:7px 0 0 45px; 
color: #525C60;
font-family: Open Sans;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;}

.right-bottom-box { width: 379px;
	height: 252px;
	display: inline-block;
	vertical-align: middle;
}
.content-photo-radius {border-radius: 30px;}

.content2 {margin-bottom: 70px;}

/*content3*/

.content3 {width: 936px;
height: 142px;
text-align: left;
margin-top: 70px;}

.heading4 {height: 41px;
width: 288px;
margin: 0 0 11 0;
font-size: 35px;
color: #274C5B;
font-family: 'Roboto-Bold';}

.paragraph4 {margin-top: 11px;
width: 936px;
height: 90px;
font-size: 18px;
color: #525C60;
font-family: Open Sans;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

/*section 2*/

.image-container {width: 1400px;
margin: 97px auto 0 auto;}
.image-corner {border-radius: 30px;}

/*footer styles*/
.main-footer {width: 1404px;
height: 308px;
margin: 136px auto 61px auto;}

.contact {width: 291px;
height: 308px;
text-align: left;
vertical-align: top;
display: inline-block;
margin-right: 142px;}

.contact-heading {font-family: Roboto-Bold;
font-size: 30px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
width: 149px;
height: 35px;
color: #274C5B;
}

.contact-ul {width: 285px;
height: 240px;
color: #525C60;
font-size: 18px;
}

.logo-footer {width: 543px;
height: 136.72px;
text-align: center;
display: inline-block;
vertical-align: top;
margin-right: 143px;}

.footer-pic {margin-bottom: 26.36px;
width: 198.79px;
height: 53.72px;}

.footer-text {width: 543px;
height: 60px;
font-size: 18px;
color: #525C60;
font-family: Open Sans;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
}

.utility { width: 285px;
height: 304px;
text-align:left; 
display: inline-block;
vertical-align: top;}

.heading-utility {width: 171px;
height: 35px;
font-size: 30px;
margin-bottom: 24px;
color: #274C5B;
font-family: Roboto-Bold;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
}

.utility-ul {width: 285px;
height: 245px;
font-size: 18px;
color: #525C60;
}

.contact-li {
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}

.span {font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.utility-li {font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
}










